body {
    background-image: url("/img/donacija3-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}
#form1{
    margin-top: 55px;
    padding: 20px;
    width: 50%;
    left: 48%;
    background-color: rgba(115,44,44,0.95);
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    text-align: center;
    border-radius: 10px;
}
#div1{
    width: 360px;
}
#TextBox1, #TextBox2, #TextBox3{
    width: 350px;   
    height: 55px;
    background-color: white;
    border: none;
    padding: 0px 40px; 
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: 3px 5px; 
}
#TextBox3:focus,#TextBox1:focus, #TextBox2:focus{
  background-color: #faebd7;
}
h1{
    font-size: 30px;
    text-align: center;
}
#Button1,#Button2{
    height: 40px;
    text-align: left;
    background-color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: 3px 5px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
}
#HyperLink1{
    color: white;
}
#tekst{
    color: #fee387;
    font-size: 13px;
    font-style: oblique;
}
#GridView1
{
    width: 100%;
    border: solid 0px black;
    min-width: 90%;
    color: white;
}
.header
{
    background-color: red;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    border: none 0px transparent;
    height: 25px;
    text-align: left;
    font-size: 16px;
}
.rows
{
    background-color: #red;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: white;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;

}
.rows:hover
{
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    color: red;
    text-align: left;
    font-weight: bold;
}
.selectedrow
{
    background-color: red;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    text-align: left;
}
.mydatagrid a /** FOR THE PAGING ICONS  **/
{
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.mygrdContent a:hover /** FOR THE PAGING ICONS  HOVER STYLES**/
{
    color: white;
}
.mygrdContent span /** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/
{
    background-color: #c9c9c9;
    color: white;
    padding: 5px 5px 5px 5px;
}
.pager
{
    background-color: #646464;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    height: 30px;
    text-align: left;
}
.mygrdContent td
{
    padding: 5px;
}
.mygrdContent th
{
    padding: 5px;
}